#skills{
    height: 100vh;
    margin-top: 30px;
    padding-top: 30px;
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    place-items: center;
     /* justify-content: center; */
}
.heading{margin-top: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
img{
    height: 35px;
    width: 35px;
}
  
span{
    display: inline-flex;
    font-size: 15px;
    font-weight: bold;
    color: wheat;
    align-items: center;
    
}

.main{
    margin-top: 10px;
    margin-left: 20px;
    
text-align: center;
display: grid;   
/* grid-template-columns: auto auto auto auto; */
    
grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  /* gap: 30px; */
  width: 100vw;
  
  max-width: 1280px;
    
   
  @media (max-width: 840px) {
      width: 90%;
    }
    @media (max-width: 1200px) {
        grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr;
      }

}

.webapp{
    margin-top: 10px;
    display: grid;   
    /* grid-template-columns: auto auto auto auto; */
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
  /* grid-template-rows: repeat(3, 1fr); */
    gap: 5px;
    place-items: center;
    width: 250px;
    
}
.sectionHeading{
   grid-column:span 2;
}
.mobileapp{
    margin-top: 10px;
    display: grid;   
    /* grid-template-columns: auto auto auto auto; */
    
    grid-template-columns: 1fr ;
    grid-template-rows: 40px;
  /* grid-template-rows: repeat(3, 1fr); */
    gap: 5px;
    place-items: center;
    width: 250px;
}

.backend {
    margin-top: 10px;
    display: grid;   
    grid-template-columns: auto auto auto auto;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
  /* grid-template-rows: repeat(3, 1fr); */
    gap: 5px;
    place-items: center;
    width: 250px;
    
}
.tools {
    margin-top: 10px;
    display: grid;   
    grid-template-columns: auto auto auto auto;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
  /* grid-template-rows: repeat(3, 1fr); */
    gap: 5px;
    place-items: center;
    width: 250px;
    
}

.logoContainer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    background-image: linear-gradient(to right , rgba(227, 87, 22,.3), rgba(128, 60, 217, 0.642));
    transition: all ease 500ms ;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    
}

.logoContainer:hover{
    
    transform: scale(1.   );
    background-image: linear-gradient(to right, red, blue);
    box-shadow: 10px 10px 8px black;
}