img{
    height: 50px;
    width: 50px;
}

span{
    display: inline-flex;
    font-size: large;
    font-weight: bold;
    color: wheat;
    
}
.main{
    margin-top: 10px;
text-align: center;    
    
}
.webapp{
    margin-top: 10px;
    display: flex;
    align-items: center;
    place-content: center;
    
}
.mobileapp{
    margin-top: 10px;
    display: flex;
    align-items: center;
    place-content: center;
    transform: translateX(-30%);
}

.backend {
    margin-top: 10px;
    display: flex;
    align-items: center;
    place-content: center;
}
.tools {
    margin-top: 10px;
    display: flex;
    align-items: center;
    place-content: center;
}

.logoContainer {
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    background-image: linear-gradient(to right , rgba(227, 87, 22,.3), rgba(128, 60, 217, 0.642));
    transition: all ease 500ms ;
    width: 85px;
    height: 85px;
    border-radius: 10px;
    /* align-items: center; */
}

.logoContainer:hover{
    
    transform: scale(1.1);
    background-image: linear-gradient(to right, red, blue);
    box-shadow: 10px 10px 8px black;
}