*{
    margin: 0;
    padding: 0;

}
.index{
    /* background-color: orange; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.logos{
    margin-top: 40px;
    display: flex;
    align-items: center;
    place-content: center;
    
}
@media(prefers-reduced-motion){
    .hidden {
        transition: none;
    }
}